* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  min-height: 100vh;
}
input {
  padding: 10px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.update-menu-container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
.edit-form__styles {
  display: flex;
  flex-direction: column;
  color: red;
  background-color: blue;
}
