* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  min-height: 100vh;
}
input {
  padding: 10px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.update-menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.edit-form__styles {
  display: flex;
  flex-direction: column;
}
