@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

/* font-family: "Fredericka the Great", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
