@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --black: #1d2833;
  --light-caramel: #e9c590;
  --light-apricot: #f7d1a3;
  --ff-fredericka: "Fredericka the Great", serif;
  --ff-lora: "Lora", serif;
  --gradient-light: linear-gradient(to bottom right, #f8f1e5, #f7d1a3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(33, 100%, 88%, 0.5);
  font-family: var(--ff-lora);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* styling headings */
.section-heading {
  text-align: center;
  margin: 40px auto 15px;
}

/* styling buttons */
.btn {
  padding: 10px;
  border: none;
  border-radius: 20px;
}
.btn-dark {
  background-color: var(--black);
  color: var(--light-caramel);
}
.btn-light {
  background: var(--gradient-light);
  color: var(--black);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.price {
  font-weight: 700;
  font-size: 20px;
}
#admin-link {
  color: var(--light-apricot);
  display: flex;
  justify-content: center;
  gap: 10px;
}
