:root {
  --black: #1d2833;
  --light-caramel: #e9c590;
}
/* nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--light-caramel);
  padding: 15px 20px;
  position: relative; /* Add this  to display the shadow*/
  /* box-shadow: 10px 10px 10px #e9c590; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 10px 30px rgba(255, 140, 0, 0.4),
    0 5px 15px rgba(255, 99, 71, 0.35), 0 0 40px rgba(255, 165, 0, 0.2);
}
.nav-items ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nav__icon {
  height: 30px;
}
.logo {
  display: flex;
  gap: 10px;
}
.logo,
.nav-items ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fredericka the Great", serif;
}
ul li a {
  color: var(--light-caramel);
}
.logo img {
  height: 20px;
}
/* footer */

.footer-container {
  padding: 30px;
  text-align: center;
}
.footer-container {
  background-color: var(--black);
  color: var(--light-caramel);
}
.restaurants-info {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.contacts p {
  display: flex;
  gap: 10px;
}
.copyrights {
  text-align: center;
  margin-top: 20px;
}
/* icons */
.footer__icon {
  height: 20px;
}
