:root {
  --black: #1d2833;
  --light-caramel: #e9c590;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--light-caramel);
  padding: 10px;
}
.nav-items ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
ul li a {
  color: var(--light-caramel);
}
.logo img {
  height: 20px;
}
